<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a th:class="${filestabclass}" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="[[${filestab}]]">Files</a>
                        <a th:class="${notestabclass}" class="nav-item nav-link active" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="[[${notestab}]]">Notes</a>
                        <a th:class="${credentialstabclass}" class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="[[${credentialstab}]]">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div id="success-msg" th:if="${showSuccessMessage}" class="alert alert-dark" th:text="${successMessage}">

                    </div>
                    <div th:class="${filecontentclass}" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" th:action="@{/file}" enctype="multipart/form-data" th:method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark" id="uploadButton">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file : ${files}">
                                    <td>
                                        <a th:href="@{'/file?fileId=' + ${file.getFileId()}}" target="_blank" class="btn btn-success">View</a>
                                        <button type="button" class="btn btn-danger" th:onclick="showDeleteFileModal([[${file.getFileId()}]])">Delete</button>
                                    </td>
                                    <th scope="row" th:text="${file.getFileName()}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteFileModalLabel">Delete File</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="delete-file-form" th:object="${file}" action="#" th:action="@{/file}" th:method="delete">
                                            <input type="hidden" name="deleteFileId" id="delete-file-id" th:field="*{fileId}">
                                            <div class="form-group">
                                                <label class="col-form-label">Are you sure you want to proceed with deleting the file?</label>
                                            </div>
                                            <button id="deleteFileSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" onclick="$('#deleteFileSubmit').click();">Delete Note</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div th:class="${notescontentclass}" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="note : ${notes}">
                                        <td>
                                            <button type="button" class="btn btn-success" th:onclick="showNoteModal([[${note.getNoteId()}]],[[${note.getNoteTitle()}]],[[${note.getNoteDescription()}]])">Edit</button>
                                            <button type="button" class="btn btn-danger" th:onclick="showDeleteNoteModal([[${note.getNoteId()}]])">Delete</button>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}"></th>
                                        <td th:text="${note.noteDescription}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="note-form" th:object="${note}" action="#" th:action="@{/note}" method="POST">
                                            <input type="hidden" name="noteId" id="note-id" th:field="*{noteId}">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" th:field="*{noteTitle}" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" th:field="*{noteDescription}" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteNoteModalLabel">Delete Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="delete-note-form" th:object="${note}" action="#" th:action="@{/note}" th:method="delete">
                                            <input type="hidden" name="deleteNoteId" id="delete-note-id" th:field="*{noteId}">
                                            <div class="form-group">
                                                <label class="col-form-label">Are you sure you want to proceed with deleting the note?</label>
                                            </div>
                                            <button id="deleteNoteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" onclick="$('#deleteNoteSubmit').click();">Delete Note</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div th:class="${credentialscontentclass}" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="credential : ${credentials}">
                                    <td>
                                        <button type="button" class="btn btn-success" th:onclick="showCredentialModal([[${credential.getCredentialId()}]],[[${credential.getUrl()}]],[[${credential.getUsername()}]],[[${encryptionService.decryptValue(credential.getPassword(), credential.getKey())}]])">Edit</button>
                                        <button type="button" class="btn btn-danger" th:onclick="showDeleteCredentialModal([[${credential.getCredentialId()}]])">Delete</button>
                                    </td>
                                    <th scope="row" th:text="${credential.url}"></th>
                                    <td th:text="${credential.username}"></td>
                                    <td th:text="${credential.password}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="credential-form" action="#" th:object="${credential}" th:action="@{/credential}" method="POST">
                                            <input type="hidden" name="credentialId" id="credential-id" th:field="*{credentialId}">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" th:field="*{url}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" th:field="*{username}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" th:field="*{password}" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteCredentialModal" tabindex="-1" role="dialog" aria-labelledby="deleteCredentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteCredentialModalLabel">Delete Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="delete-credential-form" th:object="${credential}" action="#" th:action="@{/credential}" th:method="delete">
                                            <input type="hidden" name="deleteNoteId" id="delete-credential-id" th:field="*{credentialId}">
                                            <div class="form-group">
                                                <label class="col-form-label">Are you sure you want to proceed with deleting the credential?</label>
                                            </div>
                                            <button id="deleteCredentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" onclick="$('#deleteCredentialSubmit').click();">Delete Note</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-form').attr("method", noteId ? 'PATCH' : 'POST')
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }
            function showDeleteNoteModal(noteId) {
                $('#delete-note-id').val(noteId ? noteId : '');
                $('#deleteNoteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-form').attr("method", credentialId ? 'PATCH' : 'POST')
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }

            function showDeleteCredentialModal(credentialId) {
                $('#delete-credential-id').val(credentialId ? credentialId : '');
                $('#deleteCredentialModal').modal('show');
            }

            function showDeleteFileModal(fileId) {
                $('#delete-file-id').val(fileId ? fileId : '');
                $('#deleteFileModal').modal('show');
            }

            // Keeping the message result for sometime and then hiding it
            setTimeout(() => {
                const successMsg = document.getElementById('success-msg');

                // hides element (still takes up space on page)
                successMsg.style.display = 'none';
            }, 3000);
        </script>
    </body>
</html>